<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Site</title>
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Proza+Libre:ital,wght@0,500;1,500&family=Roboto:ital@1&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="padding: 0; max-width: 100%">
        <div class="row top_block">
            <div class="col-sm-12 col-md-6 col-lg-6 intro" style="background-image: url({{url_for('static', filename='images/black_background.jpg')}});background-size: cover;background-position: center;">
                <div class="name_inner">
                    <h1 style="font-family: Lora;">Jayesh Sawant</h1>
                    <p style="font-family: Roboto; padding-top: 20px;">I am Mechanical engineer who fell in love with coding,with an intuition to combine python with renewable energy for innovation and do something unique.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 profile_pic" style="background-image: url({{url_for('static', filename='images/white_background.jpg')}});background-size: cover;background-position: center;">
                    <img src="static/images/profile.png" alt="profile pic" style="border-radius: 50%; width: 35%; height: auto;">
            </div>
        </div>
        <div class="row bottom_block">
            <div class="col-sm-12 col-md-6 col-lg-6 redirect" style="background-image: url({{url_for('static', filename='images/white_background.jpg')}});background-size: cover;background-position: center;">
                <div class="center_inner">
                    <p><a href="{{url_for('experience')}}">Experience</a></p>
                    <p><a href="{{url_for('education')}}">Education</a></p>
                    <p><a href="mailto:jayeshsawantcr1997@gmail.com">Contact</a></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 links" style="background-image: url({{url_for('static', filename='images/black_background.jpg')}});background-size: cover;background-position: center;">
                <div class="center_inner">
                    <p style="font-family: Roboto;">Get to know me more</p>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                          <a href="https://www.linkedin.com/in/jayesh-sawant-234340237" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x text-white"></i>
                              <i class="fab fa-linkedin fa-stack-1x text-black"></i>
                            </span>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://github.com/jaysawt" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x text-white"></i>
                              <i class="fab fa-github fa-stack-1x text-black"></i>
                            </span>
                          </a>
                        </li>
                    </ul>
                    <div class="credits" style="padding: 20px;">
                        <span>Background images by</span>
                        <a href="https://www.freepik.com/free-photo/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design_1174373.htm#query=black%20and%20white%20background&position=3&from_view=keyword&track=ais&uuid=5af6f70f-b814-485e-9c04-3b96b72bc91f" style="color: white;" target="_blank">Tirachard</a>
                        <a href="https://www.freepik.com/free-vector/abstract-gray-cloudy-watercolor-texture-background_39922140.htm#query=black%20and%20white%20background&position=40&from_view=keyword&track=ais&uuid=5af6f70f-b814-485e-9c04-3b96b72bc91f" style="color: white;" target="_blank">Harryarts</a>
                        <p class="intials">© {{date}} Jayesh Sawant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>